/* Asignar un margen de 0 pixeles a cada elemento del documento */
* {
    margin:  0px;
}

p { font-size:  40px;}

#texto1 {
    font-size:  90px;
}

.texto2 {
    font-size: 10px;
}

p[name="texto3"] {
    font-size: 20px;
}

/* para todo elemento p que contiene un atributo name con un valor que comienza con la palabra texto */
p[name^="textito"] {
    color: brown;
}
/* para todo elemento p que contiene un atributo name con un valor que termine con la palabra texto */
p[name$="texto"]{
    color: blue;
}
/* para todo elemento p que contiene un atributo name con un valor que contenga la palabra texto */
p[name*="textos"]{
    text-align: center;
}

/* Realizamos una pseudoreferencia  */
/* Utiliza el not para centrar a todos menos al segundo elemento */
#wrapper p:not(:nth-child(2)){
    text-align: center;
}


/* Con el selector + el elemento siguiente de la clase p2 es afectado por el estilo */
#wrapper p.p2 + p {
    color: blueviolet;
}

p.p1 ~ p {
    color: aquamarine;
}
